* {
  font-family: "fantasy", "Helvetica", "Arial", "LiHei Pro",
    "Microsoft JhengHei", "黑體-繁",  sans-serif;
}

/* .p {
    font-size: px ;
} */

.navbar {
  background-color: #fff;
  height: 80px;
  padding: 0.5rem;
}

.navbar-brand {
  padding: 2px;
  font-weight: 500;
  color: #a7946d;
  font-size: 24px;
  transition: 0.3s color;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
}

.login-button {
  background-color: #a7946d;
  color: #fff;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}

.login-button:hover {
  background-color: #c0ab82;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: #7d7e87;
  font-weight: 500;
  position: relative;
}

.nav-link:hover,
.nav-link.active {
  color: black;
}

@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #a7946d;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link:active::before {
    width: 100%;
    visibility: visible;
  }
}

.hero-section {
  background: url("./image/懶人露營三帳-1536x1152.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  position: relative;
}

.hero-section::before {
  background-color: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero-section .container {
  height: 100vh;
  z-index: 1;
  position: relative;
}
.h4 {
  font-family: Montserrat;
}

.room {
  /* border: 2px solid red; */
  width: 80%;
  margin: auto;
  line-height: 40px;
  /* font-size: larger; */
}

.roomtour1 {
  visibility: hidden;
}

.roomtour {
  display: inline;
  background-color: #af9e86;
  padding: 8px;
  color: rgb(255, 246, 246);
}

.rules {
  /* border: 2px solid red; */
  width: 80%;
  margin: auto;
  line-height: 40px;
}

.rules2 {
  visibility: hidden;
}

.rules1 {
  background-color: #af9e86;
  padding: 8px;
  color: rgb(255, 246, 246);
}

.card {
  width: 26rem;
  height: 30rem;
  border-radius: 25px;

}

.notice {
  list-style: none;
  line-height: 50px;
}

.location {
  /* border: 2px solid red; */
  width: 80%;
  margin: auto;
  line-height: 40px;
}

.location1 {
  visibility: hidden;
}

.location2 {
  background-color: #af9e86;
  padding: 8px;
  color: rgb(255, 246, 246);
}

.site-footer {
  background-color: #c8c4b8;
  padding: 45px 0 20px 0;
  margin: 0;
  font: size 15px;
  line-height: 24px;
  color: #737373;
  width: 100%;
  position: absolute;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
  text-decoration: none;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #6e5c46;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}

@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text {
    text-align: center;
  }
}
